body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alterado para align-items: flex-start; */
}

.title {
    text-align: center;
}